name: Build and Release

on:
  push:
    tags:
      - "v*"
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      env:
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ./gradlew shadowJar --no-daemon

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: EasyBot-Velocity
        path: build/libs/*.jar
        retention-days: 7

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/') # 只有 tag 触发时才执行发布
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v4
      with:
        name: EasyBot-Velocity

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: "*.jar"
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
